header {
    font-family: monospace;
    font-weight: 1000;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #303030;
}

tr,
td {
    color: #16e0bd;
}

.bg-success {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
    margin-top: 2em;
  }